@font-face {
  font-family: 'magnetfont';
  src: local('MagLettLearningResourcesFilled'),
       url('MagLettLearningResourcesFilled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}